<link rel="stylesheet" href="/static/css/croppie.min.css" type="text/css">
<script src="/static/js/croppie.min.js"></script>
<main class="container">
    <div class="row m-5">
        <div class="col-sm-4">
            <div class="card">
                <img class="card-img-top" src="/static/image/8c2c78eb41c26bc571a004895427300c187c8f2c2f3c0600a73773b685a8ee0c.jpg" data-toggle="modal"
                    data-target="#PPU-Modal">
                <div class="card-body">
                    <h5 class="card-title">NickName</h5>
                    <p class="card-text">Phone</p>
                    <p class="card-text">Mail</p>
                </div>
            </div>
        </div>
        <div class="col-sm-8 container">
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-ite>m">
                        <a href="">Your Lines</a>
                    </li>
                </ol>
            </nav>
            <div class="card-group mb-4">
                <div class="card">
                    <img class="card-img-top" src=".../100px180/" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <small>Total</small>
                        <br>
                        <small>Yours</small>
                        <br>
                        <small>Total Image</small>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src=".../100px180/" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="/static/image/8c2c78eb41c26bc571a004895427300c187c8f2c2f3c0600a73773b685a8ee0c.jpg">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                </div>
            </div>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="">Profile Detail</a>
                    </li>
                </ol>
            </nav>

            <div class="row">
                <div class="col-sm-6 mb-1">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">You Images</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 mb-1">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Your Slices</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!--Profile Picture Upload Modal -->
    <div class="modal fade" id="PPU-Modal" tabindex="-1" role="dialog" aria-labelledby="PPU-Modal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Change Profile Picture</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body container">
                    <div id="PPU-Crop" class="center-block"></div>
                </div>
                <div class="modal-footer">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" onchange="readFile(this)">
                        <label class="custom-file-label" for="customFile">Choose New Picture</label>
                    </div>
                    <button type="button" class="btn btn-primary" onclick="newProfilePicture(this)">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</main>
<script type="text/javascript">
    let c = new Croppie(document.getElementById('PPU-Crop'), {
        viewport: {
            width: 190,
            height: 190
        },
        boundary: {
            width: 250,
            height: 250
        },
        enableOrientation: true,
    });

    function readFile(input) {
        if (input.files && input.files[0]) {
            //console.log(input.files[0]);
            const reader = new FileReader();
            reader.onload = function (e) {
                c.bind({
                    url: e.target.result,
                });
            }
            reader.readAsDataURL(input.files[0]);
        } else {
            swal("Sorry - you're browser doesn't support the FileReader API");
        }
    }

    async function newProfilePicture(button) {
        console.log(Object.prototype.toString.call(button));
        const B = new AnimeButton(button);
        const Closer = B.OnLoding("disabled", "Submitting...");

        const profilePicture = await c.result({
            type: 'blob',
            format: 'jpeg',
            quality: 1,
            size: 'original'
        });

        let imgs = new FormData()
        imgs.append('images', profilePicture);
        Imgjson = await FileRequest('POST', '/image', imgs);
        //Imgjson.Hashs[0];
        //Closer();
        if (Imgjson.State == "Success") {
            //B.Alert("btn btn-primary", Imgjson.Msg, 1000);
        } else {
            Closer();
            B.Alert("btn-warning btn", Imgjson.Msg, 3000);
            return;
        }

        const formData = new FormData();
        let Data = formData.ToArray();
        Data.Operator = Cookies.Phone;
        Data.SessionID = Cookies.SessionID;
        Data.Picture = Imgjson.Hashs[0];
        const ResJson = await JsonRequest('POST', '/api/ProfilePicture', Data);
        if (ResJson.State == "Success") {
            Closer();
            B.Alert("btn btn-primary", ResJson.Msg, 1000);
        } else {
            Closer();
            B.Alert("btn-warning btn ml-1 mt-2", ResJson.Msg, 3000);
        }

    }
</script>