<main class="container">
    <div class="row m-5">
        <div class="col-sm-4">
            <div class="card">
                <img class="card-img-top" src="" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">NickName</h5>
                    <p class="card-text">Phone</p>
                    <p class="card-text">Mail</p>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="">Your Lines</a>
                    </li>
                </ol>
            </nav>
            <div class="card-group">
                <div class="card">
                    <img class="card-img-top" src=".../100px180/" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <small>Total</small><br>
                        <small>Yours</small><br>
                        <small>Total Image</small>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src=".../100px180/" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src=".../100px180/" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>