<link rel="stylesheet" href="/static/css/croppie.min.css" type="text/css">
<script src="/static/js/croppie.min.js"></script>
<main>
    <div class="row m-5">
        <div class="col-sm-4 mb-3">
            <div class="card">
                <img id="ProfilePic" class="card-img-top" src="" data-toggle="modal" data-target="#PPU-Modal">
                <div class="card-body">
                    <h5 id="NickName" class="card-title" onclick="showInputNickName(this);"></h5>
                    <input id="InputNickName" class="card-title" onKeyPress="if(event.keyCode == 13 || event.which == 13){ChangeNickName(this);}"
                        hidden>
                    <p id="Phone" class="card-text"></p>
                    <p id="Mail" class="card-text"></p>
                    <small id="SignInTime" class="card-text"></small>
                </div>
            </div>
        </div>
        <div class="col-sm-8 container">
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-ite>m">
                        <a href="#">Your Lines</a>
                    </li>
                </ol>
            </nav>
            <div id="LineCard" class="card-group mb-4">
            </div>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="#">Profile Detail</a>
                    </li>
                </ol>
            </nav>

            <div class="row">
                <div class="col-sm-6 mb-1">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Your Images</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 mb-1">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Your Slices</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!--Profile Picture Upload Modal -->
    <div class="modal fade" id="PPU-Modal" tabindex="-1" role="dialog" aria-labelledby="PPU-Modal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Change Profile Picture</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body container">
                    <div id="PPU-Crop" class="center-block"></div>
                </div>
                <div class="modal-footer">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" onchange="readFile(this)">
                        <label class="custom-file-label" for="customFile">Choose New Picture</label>
                    </div>
                    <button type="button" class="btn btn-primary" onclick="newProfilePicture(this)">Upload</button>
                </div>
            </div>
        </div>
    </div>
    <!--Line card Template-->
    <div id="LineCardTemplete" hidden>
        <div class="card">
            <img id="{CanvasName}" class="card-img-top rounded">
            <div class="card-body">
                <h5 class="card-title">{LineName}</h5>
                <small>SliceNum:
                    <span class="badge badge-info">{SliceNum}</span>
                </small>
                <br>
                <small>ImageNum:
                    <span class="badge badge-info">{ImageNum}</span>
                </small>
                <br>
                <small>Users:
                    <span class="badge badge-info">{Users}</span> <span class="badge badge-info"><strong>+</strong></span>
                </small>
            </div>
            <div class="card-footer">
                <small class="text-muted">Create@{CreateTime}</small>
                <br>
                <small class="text-muted">LatestUpdate@{LastUpdateTime}</small>
            </div>
        </div>
    </div>
</main>
<script type="text/javascript">
    //Change NickName Space
    function showInputNickName(showName) {
        showName.setAttribute('hidden', 'hidden');
        document.getElementById('InputNickName').value = showName.innerHTML;
        document.getElementById('InputNickName').removeAttribute('hidden');
    }

    async function ChangeNickName(inputName) {
        const Data = {
            Operator: Cookies.Phone,
            SessionID: Cookies.SessionID,
            NewName: inputName.value,
        }
        const Res = await JsonRequest('POST', '/api/ChangeNickName', Data);
        console.log(Res);
        if (Res.State == "Success") {
            const NickNameShower = document.getElementById('NickName');
            NickNameShower.innerHTML = inputName.value;
            NickNameShower.removeAttribute('hidden');
            inputName.setAttribute('hidden', 'hidden');
        } else {
            //TODO:获取失败的提示
        }

    }

    async function GetLatestSlice(CanvasName, LineName, LatestImg) {
        let img = new Image();
        img.onload = function () {
            const y = Math.round(this.height / 2);
            const x = Math.round(this.width / 2);
            const d = y > x ? x : y;

            let canvas = document.createElement("canvas");
            canvas.width = 2 * d;
            canvas.height = 2 * d;
            canvas.getContext("2d").drawImage(this, x - d, y - d, 2 * d, 2 * d, 0, 0, 2 * d,
                2 * d);
            document.getElementById(CanvasName).src = canvas.toDataURL("image/jpeg");
        }
        img.src = "/image/" + LatestImg;

    }

    async function GetUserInfo() {
        const Data = {
            Operator: Cookies.Phone,
            SessionID: Cookies.SessionID,
        }
        const Res = await JsonRequest('POST', '/api/GetUserInfo', Data);
        if (Res.State == "Success") {
            document.getElementById("ProfilePic").src = "/image/" + Res.ProfilePic;
            document.getElementById("NickName").innerHTML = Res.NickName;
            document.getElementById("Mail").innerHTML = Res.Mail;
            document.getElementById("Phone").innerHTML = Res.Phone;
            document.getElementById("SignInTime").innerHTML = Res.SignInTime.replace("T", " ").replace("Z", "");
        } else {
            //TODO:获取失败的提示
        }

    }
    async function GetLineInfo() {
        let Data = {
            Operator: Cookies.Phone,
            SessionID: Cookies.SessionID,
        }
        const Res = await JsonRequest('POST', '/api/GetLines', Data);
        const Templete = document.getElementById("LineCardTemplete").innerHTML;
        if (Res.State = "Success" && Res.Lines.length > 0) {
            for (const Line of Res.Lines) {
                Data.LineName = Line;
                LineInfo = await JsonRequest('POST', '/api/GetLineInfo', Data);
                if (LineInfo.State == "Success") {
                    document.getElementById("LineCard").innerHTML += Templete.format({
                        LineName: Line,
                        Users: LineInfo.Users,
                        SliceNum: LineInfo.SliceNum,
                        ImageNum: LineInfo.ImageNum,
                        LastUpdateTime: FormatTime(LineInfo.LatestTime),
                        CanvasName: "Line-Canvas-" + Line,
                        CreateTime: FormatTime(LineInfo.CreateTime),
                    });
                    await GetLatestSlice("Line-Canvas-" + Line, Line, LineInfo.LatestImg);
                } else {

                }
            }
        } else {

        }
    }
    GetUserInfo();
    GetLineInfo();

    let cropper = new Croppie(document.getElementById('PPU-Crop'), {
        viewport: {
            width: 190,
            height: 190
        },
        boundary: {
            width: 250,
            height: 250
        },
    });

    function readFile(input) {
        if (input.files && input.files[0]) {
            const reader = new FileReader();
            reader.onload = function (e) {
                cropper.bind({
                    url: e.target.result,
                });
            }
            reader.readAsDataURL(input.files[0]);
        }
    }

    async function newProfilePicture(button) {
        console.log(Object.prototype.toString.call(button));
        const B = new AnimeButton(button);
        const Closer = B.OnLoding("disabled", "Submitting...");

        const profilePicture = await cropper.result({
            type: 'blob',
            format: 'jpeg',
            quality: 1,
            size: 'original'
        });

        let imgs = new FormData()
        imgs.append('images', profilePicture);
        Imgjson = await FileRequest('POST', '/image', imgs);

        if (Imgjson.State == "Success") {
            //B.Alert("btn btn-primary", Imgjson.Msg, 1000);
        } else {
            Closer();
            B.Alert("btn-warning btn", Imgjson.Msg, 3000);
            return;
        }

        const formData = new FormData();
        let Data = formData.ToArray();
        Data.Operator = Cookies.Phone;
        Data.SessionID = Cookies.SessionID;
        Data.Picture = Imgjson.Hashs[0];
        const ResJson = await JsonRequest('POST', '/api/ProfilePicture', Data);
        if (ResJson.State == "Success") {
            Closer();
            B.Alert("btn btn-primary", ResJson.Msg, 1000);
        } else {
            Closer();
            B.Alert("btn-warning btn ml-1 mt-2", ResJson.Msg, 3000);
        }
    }
</script>