<main role="main" class="container text-center">
    <form id="SignUp-Form" enctype="value" class="" style="width: 100%;max-width: 330px; padding: 15px;margin: auto;">
        <h1 class="h3 mb-3 font-weight-normal mt-3">Sign Up</h1>
        <label for="inputPhone" class="sr-only">Phone Number</label>
        <input type="tel" id="inputPhone" name="Phone" class="form-control mt-3" placeholder="Phone Number" required autofocus>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" id="inputEmail" name="Mail" class="form-control mt-3" placeholder="Email address" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" name="Password" class="form-control mt-3" placeholder="Password(非必填)" required>
        <button id="SignUp-Button" class="btn-primary btn btn-lg btn-block mt-5" type="button" onclick="SingnUp()">Sign in</button>
        <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
    </form>
</main>
<script type="text/javascript" src="/static/js/forge.min.js"></script>
<script type="text/javascript">
    async function SingnUp() {
        const formData = new FormData(document.getElementById("SignUp-Form"));
        let Data = formData.ToArray()
        if (Data.Password === "" || Data.Password === null || Data.Password === undefined) {
            Data.HashPass = "";
        }else{
            let md = forge.md.sha256.create();
            md.update(Data.Password);
            Data.HashPass = md.digest().toHex();
        }

        const B = new AnimeButton("SignUp-Button");
        const Closer = B.OnLoding("disabled", "Signing...");

        const json = await JsonRequest('POST', '/api/SignUp', Data)

        Closer();

        if (json.State == "Success") {
            B.Alert("btn-success btn btn-lg btn-block mt-5 disabled", json.Msg, 1000);
        } else {
            B.Alert("btn-warning btn btn-lg btn-block mt-5 disabled", json.Msg, 3000);
        }
    };
</script>