<main role="main" class="container text-center mt-5 mb-5">
    <div class="card mt-3">
        <form class="card-body">

            <textarea class="form-control" id="" rows="3"></textarea>

            <div class="row mt-2 w-auto float-right">
                <div class="custom-file w-auto mr-1">
                    <input type="file" multiple="multiple" class="custom-file-input" id="customFile">
                    <label class="custom-file-label" for="customFile">Choose Img</label>
                </div>
                <button type="submit" class="btn btn-primary mr-3">Submit</button>
            </div>
        </form>
    </div>
    <div class="card mt-3">
        <div class="card-body">
            This is some text within a card body.
        </div>
    </div>
</main>