<link rel="stylesheet" href="/static/css/croppie.min.css" type="text/css">
<script src="/static/js/croppie.min.js"></script>
<main>
    <div id="LineCard" class="m-4">
        <h1 class="display-4 shadow p-3 m-1 mb-5 bg-dark text-white rounded">{LineName}</h1>

        <div class="row p-3 mb-2">
            <div class="shadow p-3 m-1 mb-2 bg-secondary text-white rounded col">
                <p>
                    <strong>ImageUsage</strong>
                </p>
                <div class="progress">
                    <div class="progress-bar text-dark" role="progressbar" style="width: {ImgUseRate}%;">
                        {ImageNum}/{TotalImg}
                    </div>
                </div>
            </div>
            <div class="shadow p-3 m-1 mb-2 bg-info text-white rounded col">
                <p>
                    <strong>SliceRate</strong>
                </p>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 25%;">
                        {Users}({UserSlice}/{SliceNum})
                    </div>
                </div>
            </div>
        </div>
        <div class="shadow p-3 m-1 mb-2 bg-light text-dark rounded">
            Users:&nbsp;{userString}
            <span class="badge badge-info" data-toggle="modal" data-target="#AddUser-Modal">
                <strong>+</strong>
            </span>

        </div>
        <div class="shadow p-3 m-1 mb-2 bg-primary text-white rounded">
            <p>Create@{CreateTime}</p>
            <p>LatestUpdate@{LastUpdateTime}</p>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Images</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        </div>
    </div>

    <!--Add User Modal-->
    <div id="AddUser-Modal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add New User</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="AddUser-Form">
                        <div class="form-group">
                            <label for="AddUser-Phone">Phone</label>
                            <input type="phonenumber" class="form-control" id="AddUser-Phone" name="UserPhone" placeholder="Phone" required>
                        </div>
                        <div class="form-group">
                            <label for="AddUser-NickName">NickName</label>
                            <input type="text" class="form-control" id="AddUser-NickName" name="NickName" placeholder="NickName" required>
                            <small class="form-text text-muted">To Check if phone and NickName is match</small>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button id="AddUser-Submit" type="button" class="btn btn-primary" onclick="AddUser(this);">Submit</button>
                </div>
                <script type="text/javascript">
                    async function AddUser(btn) {
                        const formData = new FormData(document.getElementById("AddUser-Form"));
                        let Data = formData.ToArray();
                        Data.SessionID = Cookies.SessionID;
                        Data.Operator = Cookies.Phone;
                        //Line define below
                        Data.LineName = LineName;
                        const B = new AnimeButton(btn);
                        const Closer = B.OnLoding("disabled", "Adding...");
                        const json = await JsonRequest('POST', '/api/AddUser', Data);

                        if (json.State == "Success") {
                            Closer();
                            B.Alert("btn-success btn", json.Msg, 1000);
                            location.reload();
                        } else {
                            Closer();
                            B.Alert("btn-warning btn", json.Msg, 3000);
                        }
                    }
                </script>
            </div>
        </div>
    </div>
</main>
<script type="text/javascript">

    /**
    * Get Url
    */
    const re = /^https?:\/\/\S+?\/lineedit\/([^/^#^\?^\s]+)/g;
    const LineName = re.exec(window.location.href.toLowerCase())[1];

    async function GetLineInfo(Line) {
        let Data = {
            Operator: Cookies.Phone,
            SessionID: Cookies.SessionID,
        }
        Data.LineName = Line;
        const LineCard = document.getElementById("LineCard");
        LineInfo = await JsonRequest('POST', '/api/GetLineInfo', Data);
        if (LineInfo.State == "Success") {
            let userString = ""
            for (const u of LineInfo.Users) {
                userString += "<span class=\"badge badge-info\">" + u + "</span>&nbsp;";
            }
            //TODO: TotalImg
            LineCard.innerHTML = LineCard.innerHTML.format({
                LineName: Line,
                Users: Cookies.NickName,
                ImageNum: LineInfo.ImageNum,
                TotalImg: 1000,
                ImgUseRate: LineInfo.ImageNum / 1000 * 100,
                userString: userString,
                SliceNum: LineInfo.SliceNum,
                LastUpdateTime: FormatTime(LineInfo.LatestTime),
                CanvasName: "Line-Canvas-" + Line,
                CreateTime: FormatTime(LineInfo.CreateTime),
            });
            await GetLatestSlice("Line-Canvas-" + Line, Line, LineInfo.LatestImg);
        } else {
            //TODO: Add alert
        }

    }
    GetLineInfo(LineName);
</script>