<link rel="stylesheet" href="/static/css/croppie.min.css" type="text/css">
<script src="/static/js/croppie.min.js"></script>
<main>
    <div id="LineCard" class="card">
        <img id="{CanvasName}" class="card-img-top rounded">
        <div class="card-body">
            <h5 class="card-title">{LineName}</h5>
            <small>SliceNum:
                <span class="badge badge-info">{SliceNum}</span>
            </small>
            <br>
            <small>ImageNum:
                <span class="badge badge-info">{ImageNum}</span>
            </small>
            <br>
            <small>Users:
                <span class="badge badge-info">{Users}</span>
                <span class="badge badge-info">
                    <strong>+</strong>
                </span>
            </small>
        </div>
        <div class="card-footer">
            <small class="text-muted">Create@{CreateTime}</small>
            <br>
            <small class="text-muted">LatestUpdate@{LastUpdateTime}</small>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Images</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        </div>
    </div>
</main>
<script type="text/javascript">

    const re = /^https?:\/\/\S+?\/lineedit\/([^/^#^\?^\s]+)/g;
    const LineName = re.exec(window.location.href.toLowerCase())[1];

    async function GetLatestSlice(CanvasName, LineName, LatestImg) {
        let img = new Image();
        img.onload = function () {
            const y = Math.round(this.height / 2);
            const x = Math.round(this.width / 2);
            const d = y > x ? x : y;

            let canvas = document.createElement("canvas");
            canvas.width = 2 * d;
            canvas.height = 2 * d;
            canvas.getContext("2d").drawImage(this, x - d, y - d, 2 * d, 2 * d, 0, 0, 2 * d,
                2 * d);
            document.getElementById(CanvasName).src = canvas.toDataURL("image/jpeg");
        }
        img.src = "/image/" + LatestImg;

    }

    async function GetLineInfo(Line) {
        let Data = {
            Operator: Cookies.Phone,
            SessionID: Cookies.SessionID,
        }

        Data.LineName = Line;
        const LineCard = document.getElementById("LineCard");
        LineInfo = await JsonRequest('POST', '/api/GetLineInfo', Data);
        if (LineInfo.State == "Success") {
            
            LineCard.innerHTML = LineCard.innerHTML.format({
                LineName: Line,
                Users: LineInfo.Users,
                SliceNum: LineInfo.SliceNum,
                ImageNum: LineInfo.ImageNum,
                LastUpdateTime: FormatTime(LineInfo.LatestTime),
                CanvasName: "Line-Canvas-" + Line,
                CreateTime: FormatTime(LineInfo.CreateTime),
            });
            await GetLatestSlice("Line-Canvas-" + Line, Line, LineInfo.LatestImg);
        } else {
            //TODO: Add alert
        }

    }
    GetLineInfo(LineName);
</script>