<main role="main" class="container w-100">
    <!--text-center-->
    <div class="card mt-2">
        <form id="AddSlice-Form" class="card-body cols" style="padding: 0rem;padding-right: 1rem;">
            <div class="btn-group mb-1" role="group" aria-label="Button group with nested dropdown">
                <button id="Memory-Button" type="button" class="btn btn-secondary" style="border-bottom-left-radius: 0;" onclick="ToggleSliceType(this)"
                    value="Memory">Memory</button>
                <button id="Anniversary-Button" type="button" class="btn btn-outline-secondary" onclick="ToggleSliceType(this)" value="Anniversary">Anniversary</button>
                <div class="btn-group" role="group">
                    <button id="Vis-DropButton" type="button" class="btn btn-outline-secondary dropdown-toggle" style="border-top-right-radius: 0;"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" value="Protect">
                        Group
                    </button>
                    <div class="dropdown-menu" aria-labelledby="Visibility">
                        <a class="dropdown-item" href="#" onclick="document.getElementById('Visibility').value='Protect';document.getElementById('Vis-DropButton').innerHTML=this.innerHTML;">Group</a>
                        <a class="dropdown-item" href="#" onclick="document.getElementById('Visibility').value='Public';document.getElementById('Vis-DropButton').innerHTML=this.innerHTML;">All</a>
                        <a class="dropdown-item" href="#" onclick="document.getElementById('Visibility').value='Private';document.getElementById('Vis-DropButton').innerHTML=this.innerHTML;">Self</a>
                    </div>
                </div>
            </div>

            <textarea class="form-control m-2" id="Content" name="Content" rows="3"></textarea>
            <div class="row  m-1">

                <div class="custom-file m-1 w-25 col-4 text-truncate">
                    <input name="imgs" type="file" class="custom-file-input" id="images" onchange="preview(this)">
                    <label class="custom-file-label" for="images"></label>
                </div>

                <input id="Time" name="Time" class="form-control m-1 w-auto col text-truncate" style="text-align: center;font-size: 0.85rem;padding: 0.4rem"
                    type="datetime-local" value="">
                </div>
                <button class="btn btn-primary m-1 col-7" id="AddSlice-Button" type="button" onclick="SubmitSlice()">Submit</button>

                <input id="Visibility" name="Visibility" type="hidden" value="Protect">
                <input id="Type" name="Type" type="hidden" value="Memory">
                <input id="Latitude" name="Latitude" type="hidden" value="0">
                <input id="Longitude" name="Longitude" type="hidden" value="0">
            
        </form>
        <div class="container mb-3" id="preview">

        </div>
    </div>

    <div id="SliceList">

    </div>
    <!--Img Modal-->
    <div class="modal" tabindex="-1" id="ImgModal">
        <div class="modal-dialog container">
            <img id="ImgModal-img" src="" class="rounded w-100 m-2 d-block">
        </div>
    </div>

    <div id="SliceTemplet" hidden>
        <div class="card mt-3">
            <div class="container card-img-top" id="template">
                <div class="text-center">
                    {Imgs}
                </div>
                <div class="card-body">
                    <h4 class="card-title">{Title}</h4>
                    <p class="card-text">{Content}</p>
                    <p class="card-text">
                        <small class="text-muted">{Name}</small>
                        <small class="text-muted  float-right">{Time}</small>
                    </p>
                </div>
            </div>
        </div>
    </div>
</main>
<script type="text/javascript">
    TimeInput = document.getElementById('Time');
    latitudeInput = document.getElementById('Latitude');
    longitudeInput = document.getElementById('Longitude');
    const re = /^https?:\/\/\S+?\/line\/([^/^#^\?^\s]+)/g;
    const LineName = re.exec(window.location.href.toLocaleLowerCase())[1];
    const ImgTemplet =
        '<canvas id="{imgID}" class="rounded m-2 w-25" onclick=\'document.getElementById("ImgModal-img").src=this.img;\' data-toggle="modal" data-target="#ImgModal""></canvas> ';
    const SliceList = document.getElementById("SliceList");
    const SliceTemplate = document.getElementById("SliceTemplet").innerHTML;
    //Get Slice of line
    async function GetSlice(LineName) {
        const Data = {
            Operator: Cookies.Phone,
            SessionID: Cookies.SessionID,
            LineName: LineName,
            PageNum: 1
        }
        const Res = await JsonRequest('POST', '/api/GetSlices', Data);

        let count = 0;
        for (const slice of Res.Slices) {
            const Contents = slice.Content.split(/\r?\n/);
            let SliceHtml = SliceTemplate.replace("{Title}", Contents[0]);
            let ImgHtml = "";
            let Content = "";
            if (Contents[1] != undefined) {
                const length = Contents.length;
                for (let index = 1; index < length; index++) {
                    Content += Contents[index] + '<br>';
                }
            }
            SliceHtml = SliceHtml.replace("{Content}", Content);
            SliceHtml = SliceHtml.replace("{Name}", slice.UserName);
            SliceHtml = SliceHtml.replace("{Time}", FormatTime(slice.Time));
            const rawCanvas = document.createElement("canvas");
            if (slice.Gallery != null) {
                for (const imgHash of slice.Gallery) {
                    const img = new Image();
                    const ImgID = "Img-" + count;
                    img.onload = function () {
                        const y = Math.round(this.height / 2);
                        const x = Math.round(this.width / 2);
                        const d = y > x ? x : y;
                        const canvas = document.getElementById(ImgID);
                        canvas.height = canvas.width;
                        canvas.getContext("2d").drawImage(this, x - d, y - d, 2 * d, 2 * d, 0, 0, canvas.height,
                            canvas.height);

                        rawCanvas.height = this.height;
                        rawCanvas.width = this.width;
                        rawCanvas.getContext("2d").drawImage(this, 0, 0);
                        canvas.img = rawCanvas.toDataURL("image/jpeg");
                    }
                    ImgHtml += ImgTemplet.replace("{imgID}", ImgID);
                    img.src = "/image/" + imgHash;
                    count++;
                }
            }
            SliceHtml = SliceHtml.replace("{Imgs}", ImgHtml);
            SliceList.innerHTML += SliceHtml;
        }
    }
    GetSlice(LineName);

    //Update Time and location
    async function updateInfo() {
        const offset = new Date();
        const now = new Date(offset.getTime() - offset.getTimezoneOffset() * 60000);
        TimeInput.value = now.toISOString().slice(0, 16);

        navigator.geolocation.getCurrentPosition((location) => {
            //console.log(location.coords.latitude);
            latitudeInput.value = location.coords.latitude; //纬度
            longitudeInput.value = location.coords.longitude; //经度
        }, (err) => {
            console.warn('Loaction Error(' + err.code + '): ' + err.message);
        }, {
                enableHighAccuracy: true,
                timeout: 3000,
                maximumAge: 0
            });
    };
    updateInfo();
    const cancleHandle = setInterval(updateInfo, 60 * 1000);


    async function preview(file) {
        if (file.files.length > 9) {
            //TODO: 完善提醒
            alert("Too much img! max 9 imgs in one time");
            return;
        }
        const prevDiv = document.getElementById('preview');
        prevDiv.innerHTML = "";
        let count = 0;
        let reader = new FileReader();
        reader.onload = function (evt) {
            prevDiv.innerHTML += '<img src="' + evt.target.result +
                '" class="rounded float-left md-2 mt-2 ml-3 img-thumbnail w-25" />'; //w-25, style="width:100%"
        }
        reader.onloadend = function () {
            if (++count < file.files.length) {
                reader.readAsDataURL(file.files[count]);
            }
        }
        reader.readAsDataURL(file.files[count]);
    }

    async function SubmitSlice() {
        const B = new AnimeButton("AddSlice-Button");
        const Closer = B.OnLoding("disabled", "Submitting...");

        imgInput = document.getElementById("images");
        let Imgjson = undefined
        if (imgInput.files.length > 0) {
            //Upload Img
            let imgs = new FormData()
            for (const img of imgInput.files) {
                imgs.append('images', img);
            }
            Imgjson = await FileRequest('POST', '/image', imgs);

            if (Imgjson.State == "Success") {
                //Nothing but continue
            } else {
                Closer();
                B.Alert("btn-warning btn ml-1 mt-2", Imgjson.Msg, 3000);
                return;
            }
        }
        let formData = new FormData(document.getElementById("AddSlice-Form"));
        formData.delete("imgs");
        let Data = formData.ToArray();
        Data.Operator = Cookies.Phone;
        Data.SessionID = Cookies.SessionID;
        Data.LineName = LineName;
        if (imgInput.files.length > 0) {
            Data.Gallery = Imgjson.Hashs;
        } else {
            Data.Gallery = [];
        }
        const Slicejson = await JsonRequest('POST', '/api/AddSlice', Data);
        if (Slicejson.State == "Success") {
            Closer();
            location.reload();
        } else {
            Closer();
            B.Alert("btn-warning btn ml-1 mt-2", Slicejson.Msg, 3000);
        }
    }
    function ToggleSliceType(btn) {
        let thisButton, otherButton;
        if (btn.id == "Memory-Button") {
            thisButton = btn;
            otherButton = document.getElementById("Anniversary-Button");
        } else if (btn.id == "Anniversary-Button") {
            thisButton = btn;
            otherButton = document.getElementById("Memory-Button");
        }
        thisButton.className = "btn btn-secondary";
        otherButton.className = "btn btn-outline-secondary";
        document.getElementById("Type").value = btn.value;
    }
</script>