<main role="main" class="container text-center">

    <form id="CheckAccount-Form" enctype="value" class="" style="width: 100%;max-width: 330px; padding: 15px;margin: auto;">
        <h1 class="h3 mb-3 font-weight-normal mt-3">Enter Account</h1>
        <label class="sr-only">Account</label>
        <input type="text" name="Account" class="form-control mt-3" placeholder="Mail or Phone" required autofocus>
        <button id="CheckAccount-Button" class="btn-primary btn btn-lg btn-block mt-5" type="button" onclick="CheckAccount()">CheckAccount</button>
    </form>

    <form id="SignIn-Form" enctype="value" class="" style="width: 100%;max-width: 330px; padding: 15px;margin: auto; display: none;">
        <h1 class="h3 mb-3 font-weight-normal mt-3">Enter Password</h1>
        <button id="Account" class="btn-primary btn btn-block mt-5 disabled" type="button"></button>
        <label class="sr-only disable">Password</label>
        <input type="Password" name="Password" class="form-control mt-3" placeholder="Password" required autofocus>
        <input id="Salt" type="hidden" name="Salt" value="">
        <input id="SignInVerify" type="hidden" name="SignInVerify" value="">
        <button id="SignIn-Button" class="btn-primary btn btn-lg btn-block mt-5" type="button" onclick="SingnIn()">Sign In</button>
    </form>

</main>
<script type="text/javascript" src="/static/js/forge.min.js"></script>
<script type="text/javascript">
    async function CheckAccount() {
        const formData = new FormData(document.getElementById("CheckAccount-Form"));
        const Data = formData.ToArray()
        const B = new AnimeButton("CheckAccount-Button");
        const Closer = B.OnLoding("disabled", "Checking...");

        const json = await JsonRequest('POST', '/api/CheckAccount', Data)

        if (json.State == "Success") {
            $("#CheckAccount-Form").hide();
            $("#SignIn-Form").show();
            Closer();
            document.getElementById("Account").innerHTML = Data.Account;
            document.getElementById("Salt").value = json.Salt;
            document.getElementById("SignInVerify").value = json.SignInVerify;
        } else {
            Closer();
            B.Alert("btn-warning btn btn-lg btn-block mt-5 disabled", json.Msg, 3000);
        }
    };

    async function SingnIn() {
        const formData = new FormData(document.getElementById("SignIn-Form"));
        let Data = formData.ToArray()
        if (Data.Password === "" || Data.Password === null || Data.Password === undefined) {
            Data.HashPass = "";
        }
        const B = new AnimeButton("SignIn-Button");
        const Closer = B.OnLoding("disabled", "Signing...");
        
        //创建Hashpass
        let md = forge.md.sha256.create();
        md.update(Data.Password);
        let HashPass = md.digest().toHex();

        //创建
        md = forge.md.sha256.create();
        md.update(Data.Salt + HashPass);
        //never used HashSaltHashPass string in client
        //let HashSaltHashPass = md.digest().toHex();
        //console.log(HashSaltHashPass);

        let IV = forge.random.getBytesSync(12);
        Data.IV = forge.util.bytesToHex(IV);
        let cipher = forge.cipher.createCipher('AES-GCM', md.digest().data);
        
        cipher.start({iv: IV});
        cipher.update(forge.util.createBuffer(Data.SignInVerify));
        cipher.finish();
        
        Data.Encrypted = cipher.output.toHex();
        //Encrypted + Tag is what we get in golang-aes-gcm
        Data.Encrypted += forge.util.bytesToHex(cipher.mode.tag.getBytes());
        delete(Data.Password);
        delete(Data.Salt);
        delete(Data.SignInVerify);
        const json = await JsonRequest('POST', '/api/SignIn', Data);

        Closer();

        if (json.State == "Success") {
            B.Alert("SignUp-Button", "btn-success btn btn-lg btn-block mt-5 disabled", json.Msg, 1000);
            window.location.href = "/";
        } else {
            B.Alert("SignUp-Button", "btn-warning btn btn-lg btn-block mt-5 disabled", json.Msg, 3000);
        }
    };
</script>
<!-- /.container -->