<main role="main" class="container text-center">
    <form id="SignIn-Form" enctype="value" class="" style="width: 100%;max-width: 330px; padding: 15px;margin: auto;">
        <img class="mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal mt-3">Sign In</h1>
        <label for="inputPhone" class="sr-only">Account</label>
        <input type="tel" id="inputPhone" name="Phone" class="form-control mt-3" placeholder="Mail or Phone" required autofocus>
        <label for="inputPassword" class="sr-only disable">Password</label>
        <input type="password" id="inputPassword" name="Password" class="form-control mt-3" placeholder="Password(非必填)" required>
        <button id="SignIn-Button" class="btn-primary btn btn-lg btn-block mt-5" type="button" onclick="SingnIn()">Next Step</button>
    </form>
</main>
<script type="text/javascript">
    function SingnIn() {
        var formData = new FormData(document.getElementById("SignIn-Form"));
        var xhr = new XMLHttpRequest();
        xhr.timeout = 3000;
        xhr.responseType = "json";
        xhr.open('POST', '/api/SignIn', true);
        xhr.onloadend = function(e) { 
            JsonResponse = xhr.response;
            if(JsonResponse.State == "Success"){
                AlertButton("SignUp-Button", "btn-success btn btn-lg btn-block mt-5 disabled", JsonResponse.Msg, 1000);
            }else{
                AlertButton("SignUp-Button", "btn-warning btn btn-lg btn-block mt-5 disabled", JsonResponse.Msg, 3000);
            }
        };
        /*
        xhr.ontimeout = function(e) { ... };
        xhr.onerror = function(e) { ... };
        xhr.upload.onprogress = function(e) { ... };
        */
        //发送数据
        xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        xhr.send(formData.urlencode());
    };
</script>
<!-- /.container -->